html {
    background-color: #222222;
    background-image: url(../img/BGgradient.png);
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
    /*text-align: center;*/
}
main{
    display: flex;
}
#main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(#555555, #464646);
    color: yellowgreen; /* debug color */
}
#logo {
    color: dodgerblue;
    margin: 0;
    width: 600px;
    
}
.header-buttons {
    display: flex;
    width: 100vw;
    gap: 8vw;
    margin: 0;
    color: whitesmoke;
}
.header-buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #464646;
    width: 10vw;
    height: 6vh;
    margin: 0;
    font-size: 24px;
    border-radius: 10px;
    border-color: whitesmoke;
    box-shadow: 3px 3px #333333;
}
.header-button-current-page{
    color: blue;
}

.search-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    width: 100vw;
    flex-shrink: 100;
    flex-grow: 1;

}
#basic-song-search {
    background-color: #555555;
    margin: auto;
    flex-grow: 0;
    width: 95vw;
    height: fit-content;
    padding: 0em 0em 1em 0em;
    margin-bottom: 0.5em;
}
#basic-song-search h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #363636;
    margin: 0;
    padding: 0.2em;
}
#search-options{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: left;
}
#search-options p{
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}
.search-buttons {
    display: flex;
    gap: 4vw;
    margin: auto;
    padding: 0px 20px 0px 20px;
    color: whitesmoke;
    justify-content: center;
}
.search-buttons p{
    display: flex;
    align-items: center;
    background-color: #464646;
    height: 60px;
    margin: 0em 2em 0em 2em;
    padding: 0em 2em 0em 2em;
    font-size: 24px;
    border-radius: 10px;
    border-color: whitesmoke;
    box-shadow: 3px 3px #333333;
}
#search-radio-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
}
#search-radio-buttons div{
    width: 20vw;
}
#search-input-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#search-input-boxes input{
    width: 20vw;
}
#browse-search-results {
    background-color: #555555;;
    color: white;
    flex-grow: 1;
    padding: 0;
    width: 95vw;
    margin: auto;
}
#browse-container-header {
    text-align: center;
    background-color: #363636;
    padding: 0.2em 0em;
    margin: auto
}
#browse-list{
    height: 63vh;
    overflow: scroll; 
    padding: 0;
    margin: 1% 0 0 0;
}
/* List header */
#browse-list-header{
    color: #afcbf3;
    display: flex;
    flex-wrap: nowrap;
    background-color: #363636;
    padding: 0vw 1vw;
    justify-content: space-around;
    justify-items: center;
}
/* List row */
.browse-list-row{
    color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    background-color: #464646;

    margin: 1vw;
    justify-content: space-around;
    align-items: center;
}
#browse-list-header h2 {
    text-align: center;
    width: 18%;
}
.browse-list-row p{
    text-align: center;
    width: 18%;
}
.browse-list-row-color-one{
    color: rgba(255, 255, 255);
}
.browse-list-row-color-two{
    color: rgb(240, 240, 240);
}
.song-view-page{
    margin: auto;
}
#song-view-container{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #555555;
    text-align: center;
}
/*SONG INFORMATION*/
#song-view-container h1{
    text-align: center;
    background-color: #363636;
    margin: 0;
}
#song-view-container p{
    padding: 0em;
}
/*ANALYSIS DATA*/
#song-view-analysis h1{
    margin: 0;
    padding: 0;
    background-color: #363636;
}
#song-view-analysis {
    display: flex;
    flex-direction: column;
    margin: 0em 1em 1em 1em;
    background-color: blue;
}
#song-view-analysis ul li{
    margin: 1em;
    padding: 0;
    background-color: #555555;
}
#song-view-top{
    display: flex;
    flex-direction: row;
    background-color: #464646;
    justify-content: space-between;
    margin: 0.5em 1em;
    padding: 0em 2em 0em 2em;
}
#song-view-bottom{
    display: flex;
    flex-direction: row;
    background-color: #464646;
    justify-content: space-between;
}
/*
#song-details-bottom{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    margin: 2em;
    padding: 1em;
}
*/
.hidden{
    display: none;
}